## Python for data science
Click the image below to read the post online.

<a href='https://www.machinelearningnuggets.com/python-for-data-science/'><img src='https://drive.google.com/uc?export=view&id=1kOh9VYVxg0n3ALZPCEW3kiYCVL-PhyRI'>

# Python Syntax

In [1]:
print('Learning Python')

Learning Python

## Python comments

In [ ]:
# print('Simple python syntax')
print('Simple python syntax')

Simple python syntax

In [ ]:
# Comment 1
# comment 2
# Comment 3
# Comment 4

### Multi-line comment with triple-quoted string

In [ ]:
'''
This is a multiline
comment with a triple-
quoted string.
'''

'\nThis is a multiline\ncomment with a triple-\nquoted string.\n'

## Indentation and whitespace

In [ ]:
marks = [40, 50, 60, 30, 15, 100, 12, 35]
for mark in (marks):
  if mark < 50:
    print(mark)

40
30
15
12
35

# Python varibles

In [ ]:
quantity = 200 #integer
temp = 45.8 #floating point
course = "Python" # string
arr = [20,30] #list
print(quantity)
print(temp)
print(course)
print(arr)

200
45.8
Python
[20, 30]

# Python data types

### Getting the data type

In [ ]:
type(quantity)

int

In [ ]:
type(temp)

float

In [ ]:
# Scientific floating point
sci_num = 10e8
type(sci_num)

float

In [ ]:
type(10j)

complex

### Type conversion

In [ ]:
# convert float to int
type(int(temp))

int

In [ ]:
# Convert int to float
int_to_float = int(quantity)
type(int_to_float)

int

In [ ]:
# convert float to complex
flt_to_cmplx = complex(temp)
flt_to_cmplx

(45.8+0j)

# Python Booleans

In [ ]:
print(68 > 79)
print(68 < 79)

False
True

In [ ]:
mark1 = 68
mark2 = 79
if mark1 > mark2:
  print('mark1 is larger')
else:
  print('mark2 is larger')

mark2 is larger

### `bool()` function

In [ ]:
bool(56 == 40)

False

In [ ]:
bool(60)

True

In [ ]:
bool('')

False

In [ ]:
bool(None)

False

# Python Lists

### Create sample lists..We shall use them to practice

In [ ]:
sample_list1 = ['Bungalow', 'Cottage', 'Cabin', 1997, 2000]
sample_list2 = [30, 40, 100, 60]

print(sample_list1)
print(sample_list2)

['Bungalow', 'Cottage', 'Cabin', 1997, 2000]
[30, 40, 100, 60]

### Length of a list

In [ ]:
len(sample_list1)

5

### Accessing list items

In [ ]:
# access the third item in sample_list1 list

sample_list1[2]

'Cabin'

In [ ]:
# access the second item
sample_list2[1]

40

### Return range of indexes

In [ ]:
sample_list1[1:3]

['Cottage', 'Cabin']

In [ ]:
# ommiting start or end index

print(sample_list1[1:]) # ommit the end index

print(sample_list1[:3]) # ommit the start index

['Cottage', 'Cabin', 1997, 2000]
['Bungalow', 'Cottage', 'Cabin']

### Negative indexing

In [ ]:
sample_list1[-2]

1997

In [ ]:
# Range of negative indexing
sample_list1[-5:-2]

['Bungalow', 'Cottage', 'Cabin']

### Updating, adding and removing list elements

In [ ]:
# Updating
# change item at index [3] to 1996

sample_list1[3] = 1996
sample_list1

['Bungalow', 'Cottage', 'Cabin', 1996, 2000]

In [ ]:
# Adding element to the list
sample_list1.append('Charlet')

In [ ]:
sample_list1

['Bungalow', 'Cottage', 'Cabin', 1996, 2000, 'Charlet']

In [ ]:
# Remove element from the list with remove()

sample_list1.remove('Charlet')
sample_list1

['Bungalow', 'Cottage', 'Cabin', 1996, 2000]

In [ ]:
# Remove element from list with pop()

sample_list1.pop(3)
sample_list1

['Bungalow', 'Cottage', 'Cabin', 2000]

In [ ]:
# pop() without the index specified removes the last item 2000 in our case

sample_list1.pop()
sample_list1

['Bungalow', 'Cottage', 'Cabin']

In [ ]:
# Remove element with del statement

del sample_list2[2] # Removes element at position 3 -> 100
sample_list2

[30, 40, 60]

In [ ]:
# clear a list with clear() method

sample_list1.clear()
sample_list1

[]

# Sorting Lists

In [ ]:
# Create new lists

pizza_flavors = ['Pepperoni', 'Hawaiian ', 'Chicken Alfredo', 'Vegetarian ', 'Margherita']
pizza_prices_usd = [11.99, 17.99, 14.99, 18.99, 19.99]

### Reverse order of list with `reverse()`

In [ ]:
pizza_flavors.reverse()
pizza_flavors

['Margherita', 'Vegetarian ', 'Chicken Alfredo', 'Hawaiian ', 'Pepperoni']

### Sorting in ascending order(Default)

In [ ]:
pizza_flavors.sort()

pizza_flavors

['Chicken Alfredo', 'Hawaiian ', 'Margherita', 'Pepperoni', 'Vegetarian ']

In [ ]:
pizza_prices_usd.sort()

pizza_prices_usd

[11.99, 14.99, 17.99, 18.99, 19.99]

### Sorting in descending order `reverse-True`

In [ ]:
# sort the pizza_flavors list in descending order

pizza_flavors.sort(reverse=True)

print(pizza_flavors)

['Vegetarian ', 'Pepperoni', 'Margherita', 'Hawaiian ', 'Chicken Alfredo']

In [ ]:
# sort pizza_prices_usd list in descending order

pizza_prices_usd.sort(reverse=True)

print(pizza_prices_usd)

[19.99, 18.99, 17.99, 14.99, 11.99]

### Reverse the order with `reverse()`

# Python tuples

In [ ]:
sample_tuple1 = ('Pepperoni', 'Hawaiian ', 'Chicken Alfredo', 'Vegetarian ', 'Margherita')
type(sample_tuple1)

tuple

### Accessing tuple items

In [ ]:
print(sample_tuple1[2])

Chicken Alfredo

### Negative Indexing

In [ ]:
# access the second last index

print(sample_tuple1[-2])

Vegetarian

### Return a range of negative indexes

In [ ]:
sample_tuple1[1:4] # the element at the fourth index is excluded

('Hawaiian ', 'Chicken Alfredo', 'Vegetarian ')

### Updating tuples

In [ ]:
list_from_tuple = list(sample_tuple1) # convert the tuple to list

list_from_tuple[3] = 'Ranch' # change the item at index [3]

sample_tuple1 = tuple(list_from_tuple) # convert list back to tuple

sample_tuple1

('Pepperoni', 'Hawaiian ', 'Chicken Alfredo', 'Ranch', 'Margherita')

### Unpacking a tuple

In [ ]:
# unpack the tuple
sample_tuple1 = ('Pepperoni', 'Hawaiian ', 'Chicken Alfredo', 'Vegetarian ', 'Margherita')

(house_type1, house_type2, house_type3, house_type4, house_type5) = sample_tuple1

print(house_type1)
print(house_type2)
print(house_type3)
print(house_type4)
print(house_type5)

Pepperoni
Hawaiian
Chicken Alfredo
Vegetarian
Margherita

In [ ]:
# unpack rest of values in the tuple

sample_tuple1 = ('Pepperoni', 'Hawaiian ', 'Chicken Alfredo', 'Vegetarian ', 'Margherita')

(house_type1, house_type2, *other_house_types) = sample_tuple1
print(house_type1)
print(house_type2)
print(other_house_types)

Pepperoni
Hawaiian
['Chicken Alfredo', 'Vegetarian ', 'Margherita']

### Python Sets

In [ ]:
sample_set1 = {'Pensies', 'Sunflower', 'Pimrose', 'Marigolds', 'Baneberry'} # types of flowers set
print(sample_set1)

type(sample_set1)

{'Pensies', 'Sunflower', 'Marigolds', 'Baneberry', 'Pimrose'}

set

In [ ]:
# duplicates are ignored

sample_set1 = {'Pensies', 'Sunflower','Sunflower', 'Pimrose','Primrose', 'Marigolds', 'Baneberry'} # types of flowers set
print(sample_set1)

{'Pensies', 'Sunflower', 'Marigolds', 'Primrose', 'Baneberry', 'Pimrose'}

In [ ]:
for flower in sample_set1:
  print(flower)

Pensies
Sunflower
Marigolds
Primrose
Baneberry
Pimrose

In [ ]:
# check if item exists

print('Sunflower' in sample_set1)

True

### Adding items to a set

In [ ]:
# adding a single element in the set

sample_set1.add('Bloodroot')
sample_set1.add('Buttercup')

print('Updated set with add() method')
for flower in sample_set1:
  print(flower)

Updated set with add() method
Bloodroot
Buttercup
Pensies
Sunflower
Marigolds
Primrose
Baneberry
Pimrose

In [ ]:
# adding multiple elements in the set
sample_set1 = {'Pensies', 'Sunflower', 'Pimrose', 'Marigolds', 'Baneberry'} 
sample_set1.update(['Bloodroot', 'Buttercup']) # add a list
print('Updated set with add() method')
sample_set1

Updated set with add() method

{'Baneberry',
 'Bloodroot',
 'Buttercup',
 'Marigolds',
 'Pensies',
 'Pimrose',
 'Sunflower'}

### Remove items from the set

In [ ]:
sample_set1 = {'Pensies', 'Sunflower', 'Pimrose', 'Marigolds', 'Baneberry'}

sample_set1.remove('Marigolds') # removes Marigolds
sample_set1.discard('Sunflower') # discards Sunflower
print('Two flowers removed from the set')
print(sample_set1)

Two flowers removed from the set
{'Pensies', 'Baneberry', 'Pimrose'}

# Python Dictionaries

In [ ]:
sample_dict = {
        "year": 2022,
        "blogname": "Machine learning nuggets",
        "email": "hello@machinelearningnuggets.com",
        "about": "Machine Learning and Data Science",
}

type(sample_dict)

dict

In [ ]:
sample_dict = {
        "year": 2022,
        "blogname": "Machine learning nuggets",
        "email": "hello@machinelearningnuggets.com",
        "about": "Machine Learning and Data Science",
        "featured": ['Python for data science', 'Numpy tutorial', 'Pandas tutorial']
}
print(sample_dict)

{'year': 2022, 'blogname': 'Machine learning nuggets', 'email': 'hello@machinelearningnuggets.com', 'about': 'Machine Learning and Data Science', 'featured': ['Python for data science', 'Numpy tutorial', 'Pandas tutorial']}

### Accessing items in a dictionary

In [ ]:
blog_name = sample_dict['blogname']
featured_blogs = sample_dict['featured'] # the value is a list loop to display indivudual items

print('Blog name: ', blog_name)
print('Featured: ', featured_blogs)

Blog name:  Machine learning nuggets
Featured:  ['Python for data science', 'Numpy tutorial', 'Pandas tutorial']

In [ ]:
# Display all keys and values

print(sample_dict.keys()) # displays a list of all keys
print(sample_dict.values()) # displays a list of all values

dict_keys(['year', 'blogname', 'email', 'about', 'featured'])
dict_values([2022, 'Machine learning nuggets', 'hello@machinelearningnuggets.com', 'Machine Learning and Data Science', ['Python for data science', 'Numpy tutorial', 'Pandas tutorial']])

# Updating dictionary

In [ ]:
# since the item with key_name=featured is a list we access and
# change the item at index 2
sample_dict["featured"][2] = 'How to build CNN in TensorFlow'
sample_dict["featured"]

['Python for data science', 'Numpy tutorial', 'How to build CNN in TensorFlow']

In [ ]:
# Add new item to the dict
sample_dict['posts'] = 30 # add item
print(sample_dict['posts']) # display item

30

Decision making statments
# New section

### if statement

In [ ]:
todo_list = ['Read', 'code', 'watch']

if len(todo_list) < 4:
	print('To do has less than 3 items')

To do has less than 3 items

### else-if statment

In [ ]:
todo_list = ['Read', 'code', 'watch', 'Game']

if len(todo_list) < 4:
	print('To do has less than 3 items') # when condition is True
else:
	print('To do has more than 4 items') # when condition is False

To do has more than 4 items

### elif

In [ ]:
todo_list = ['Read', 'code', 'watch', 'Game']

if len(todo_list) > 4:
	print('To do has more 4 items')
elif len(todo_list) == 4:
	print('To do has 4 items')
elif len(todo_list) != 0:
	print('To do has less than 4 items')	   
else:
	print('To do has 0 items')

To do has 4 items

### Nested if-elif-else statements

In [ ]:
todo_list = ['Read', 'code', 'watch']

if len(todo_list) < 4:
    print('Todo has less than 4 items')
    if len(todo_list) == 0:
        print('Todo is empty')
    elif len(todo_list) == 1:
        print('Todo has 1 item')
    elif len(todo_list) == 2:
        print('Todo has 2 items')
    else:
        print('Todo has 3 items')
else:
    print('Todo has more than 4 items')

Todo has less than 4 items
Todo has 3 items

In [ ]:
# Ternary operator

print('Todo has more than 4 items') if len(todo_list) > 4 else print('To do has less than 4 items')

To do has less than 4 items

# Python Loops

## For loop

In [ ]:
flower_types = ['Pensies', 'Sunflower', 'Pimrose', 'Marigolds', 'Baneberry']
for value in flower_types:
	print(value)

Pensies
Sunflower
Pimrose
Marigolds
Baneberry

### range() function

In [ ]:
for number in range(5):
	print(number)

0
1
2
3
4

In [ ]:
# start = start number rather than the default 0
# stop = number where the iteration will stop
# step = the interval of iteration

for number in range(10, 20, 2):
	print(number)

10
12
14
16
18

In [ ]:
# using range() to loop over the list

for flower in range(len(flower_types)): # use len() to get the length of list
	print(flower)

0
1
2
3
4

In [ ]:
rows = 5
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

# While loops

In [ ]:
counter = 0 #initialize loop counter
while counter < 5:
	counter = counter + 1 # increment count by 1 for each iteration
	print('Learning Python')
print('I am here since the condition is false!')

Learning Python
Learning Python
Learning Python
Learning Python
Learning Python
I am here since the condition is false!

### Loop control statements

In [ ]:
# break in for loop

flower_types = ['Pensies', 'Sunflower', 'Pimrose', 'Marigolds', 'Baneberry']
for value in flower_types:
  if value == 'Pimrose':
    # check if current value is 'Primrose' if True stop looping
    break
  print(value) # Primrose is not displayed

Pensies
Sunflower

In [ ]:
# break in while loop

counter = 0 #initialize loop counter
while counter < 5:
  counter = counter + 1
  if counter == 3: # if counter == 3 stop looping
    break
  print('Learning Python')
print('I am here since the condition is false!')

Learning Python
Learning Python
I am here since the condition is false!

In [ ]:
# continue in for loop

flower_types = ['Pensies', 'Sunflower', 'Pimrose', 'Marigolds', 'Baneberry']
for value in flower_types:
  # check if current value is 'Primrose' if True skip it got to next item
  if value == 'Pimrose':    
      continue
  print(value)

Pensies
Sunflower
Marigolds
Baneberry

# Functions

In [ ]:
# calling function
def area():
  area_rect = 10 * 5
  print('Area of rectangle = ', area_rect)
  return 

area() # calling function

Area of rectangle =  50

In [ ]:
# calling function with arguments

# pass 3 parameters in the function

def area(shape, length, breath):
  area = length * breath
  print(shape, 'area = ', area)
  return  

area('Rectangle', 10, 5)  #Calling the function with arguments
area('Square', 20, 20) # Calling the function arguments

Rectangle area =  50
Square area =  400

### `*args`

In [ ]:
def total_sales(*args):
    total = 0
    for sale in args:
        total = total + sale
    return total
print('Total sales:', total_sales(4000, 10000, 5000, 15000, 2000))

Total sales: 36000

`**kwargs`

In [ ]:
def total_sales(**kwargs):
    items = " "
    total = 0
    for item in kwargs.keys():
        items = items + item
    print('Items Sold:', items)

    for sale in kwargs.values():
        total = total + sale
    return total 
print('Total sales:', total_sales(Tv_set = 4000, Dining_table = 10000, Fridge = 5000, Carpet = 15000))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
Items Sold:  Tv_setDining_tableFridgeCarpet
Total sales: 34000

## Anonymous Functions(lambda functions)

In [ ]:
examp_list = [10, 5, 15, 6]
squares = list(map(lambda num: num*num, examp_list)) # convert the results to a list with list()
print(squares)

[100, 25, 225, 36]

Python `map()`

In [ ]:
def reverse(str):
    string = " "
    for i in str:
        string = i + string
    return string

words = ['Data science', 'Nuggets', 'Python', 'Learn']
reversed_words = map(reverse, words)

print(reversed_words)

<map object at 0x7fc80a5c2950>

In [ ]:
# convert map object to list
print('Reverse Words:', list(reversed_words))

# Datetime

In [ ]:
import datetime

today = datetime.datetime.now()
print(today)

2022-08-09 18:36:42.344209

In [ ]:
# convert date into readable form

today = datetime.datetime.now()
print(today.strftime("%B")) # return year

August

In [ ]:
today = datetime.datetime(2022, 8, 9) # year, month, day
print('Year: ', today.strftime('%Y'))
print('Month: ', today.strftime('%B'))
print('Day: ', today.strftime('%A'))

Year:  2022
Month:  August
Day:  Tuesday

# Exception Handling `try-except`

In [ ]:
# Handle exception
name = 'Nuggets'
try:
  print('Hello, ', namee)
except:
  print('Something went wrong!')

Something went wrong!

In [ ]:
# Exception with `else block`

# Handle exception
name = 'Nuggets'
try:
  print('Hello, ', name)
except:
  print('Something went wrong!')  
else:
  print('Name successfuly displayed!')

Hello,  Nuggets
Name successfuly displayed!

In [ ]:
# try-except-finally
# Handle exception
name = 'Nuggets'
try:
  print('Hello, ', namee)
except:
  print('Name display failed!')  
finally:
  print('Welcome to Machine learning nuggets!')

Name display failed!
Welcome to Machine learning nuggets!

In [ ]:
# except with Exception name

# Handle exception
name = 'Nuggets'
try:
  print('Hello, ', namee)
except NameError :
  print('Variable is not defined!') 
finally:
  print('Welcome to Machine learning nuggets!')

Variable is not defined!
Welcome to Machine learning nuggets!

## Where to go from here

Follow us on [LinkedIn](https://www.linkedin.com/company/mlnuggets), [Twitter](https://twitter.com/ml_nuggets), [GitHub](https://github.com/mlnuggets) and subscribe to our [blog](https://www.machinelearningnuggets.com/) so that you don't miss a new issue.